<div class="chat_box">
	<div class="chat_head"> Message</div>
	<div class="chat_body" style="display: none">
		<div class="user"> Mike</div>
	</div>
  </div>

<div class="msg_box" style="right:290px; display: none">
	<div class="msg_head">Jenny
		<div class="close">x</div>
	</div>
	<div class="msg_wrap">
		<div class="msg_body">
			<div class="msg_a">This is from A	</div>
			<div class="msg_b">This is from B, and its amazingly kool nah... i know it even i liked it :)</div>
			<div class="msg_a">Wow, Thats great to hear from you man </div>
			<div class="msg_push"></div>
		</div>
		<div class="msg_footer"><textarea class="msg_input" rows="4"></textarea></div>
	</div>
</div>
