{% extends "base.html" %}

{% load staticfiles %}

{% load crispy_forms_tags %}

{% block contentwrap %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <h1>Create a Discussion</h1>
                <form method="POST" action="" name="post-form" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input type="submit" class='btn btn-default' value="Create Post">
                </form>
                <input name="image" type="file" id="upload" class="hidden" onchange="">
            </div>
        </div>
    </div>

{% endblock contentwrap %}


{% block more_javascript %}
    <script type="text/javascript" src="{% static "tinymce/js/tinymce/tinymce.min.js" %}"></script>
    <script type="text/javascript" src="{% static 'js/tinymce_config.js' %}"></script>
{% endblock more_javascript %}
