{% extends "base.html" %}
{% load staticfiles %}
{% load hitcount_tags %}
{% get_hit_count_js_variables for post as hitcount %}

{% block contentwrap %}
    <div class="col-md-8 col-md-offset-1">
        <!-- post list header (filter button) -->
        <div class="row">
            <div class="subheader">
                <div id="filter-dropdown" class="dropdown" style="margin-bottom: 15px; float: left">
                  <button class="btn btn-sm dropdown-toggle category-dropdown" type="button" data-toggle="dropdown" style="background-color: transparent; border-color: #666666">
                      <span id="filterDropdownBtn">all categories</span> &nbsp;<span class="caret"></span></button>
                  <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{% url "posts:list" %}">all categories</a></li>
                      {% if user.is_authenticate %}
                          {% for category in categories %}
                              <li><a class="dropdown-item ajaxCall" value="{{ category.slug }}">{{ category.title }}</a></li>
                          {% endfor %}
                      {% endif %}
                  </ul>
                </div>
                <div id="tabs">
                    <a class="selected-tab">all</a>
                    <a>solved</a>
                    <a>unsolved</a>
                    <a>latest</a>
                    <a>hottest</a>
                </div>
            </div>
        </div>

        <!-- post list content -->
        <div id="postContent">
                {% include 'post_list_content.html' %}
        </div>


    </div>


{% endblock contentwrap %}
