{% for post in posts %}
    <div class="row" style="border-bottom: 1px solid #e4e6e8; padding-bottom: 10px">
        <div class="col-md-2" style="text-align: center">
            <div class="stats">
                <span>{{ post.get_num_follow }} follows</span>
            </div>
            <div class="stats">
                <span>{{ post.get_num_reply }} replies</span>
            </div>
            <div class="stats">
                <span>{{ post.get_num_view }} views</span>
            </div>
        </div>

        <div class="col-md-10">
            {% if post.author.is_staff %}
                <div class="instr-indicator">
                    <i class="fa fa-tag" aria-hidden="true">Instr</i>
                </div>
            {% endif %}

            <a class="question-hyperlink" href="{% url 'posts:detail' slug=post.slug %}" style="padding-left: 10px">{{ post.title }}</a>
            <div style="margin-top: 5px">
                {% for tag in  post.tags.all %}
                    <a class="tags" href="{% url "posts:post_list_by_tag" tag.slug %}">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}